API_HOST=0.0.0.0
API_PORT=8000

CHUNKSIZE=1000000
AIRFLOW_UID=50000

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

_AIRFLOW_WWW_USER_CREATE=true
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
_AIRFLOW_WWW_USER_EMAIL=whois_cat@example.com
_AIRFLOW_WWW_USER_FIRSTNAME=Airflow
_AIRFLOW_WWW_USER_LASTNAME=Admin
_AIRFLOW_WWW_USER_ROLE=Admin

MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_EXPERIMENT=cart-driven-recsys

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin