RECSYS_MLFLOW_TRACKING_URI=http://mlflow:5000
RECSYS_MLFLOW_EXPERIMENT=cart-driven-recsys
RECSYS_API_HOST=0.0.0.0
RECSYS_API_PORT=8000
RECSYS_API_WORKERS=2
RECSYS_PARAMS_FILE=params.yaml

AIRFLOW_UID=50000
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

AIRFLOW_FERNET_KEY=somekey
AIRFLOW_API_SECRET_KEY=somekey

_AIRFLOW_WWW_USER_CREATE=true
_AIRFLOW_WWW_USER_PASSWORD=admin
_AIRFLOW_WWW_USER_EMAIL=whois_cat@example.com

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin